<!DOCTYPE HTML>

<html>
{{ partial "header.html" . }}
<body>

<!-- Header Wrapper -->
<div class="wrapper style1">

    {{ partial "smallpageheader.html" . }}

    <!-- Main -->
    <div id="main" class="wrapper style4">

        <!-- Content -->
        <div id="content" class="container">
            <section>
                <header class="major">
                    <h2>{{i18n "tracks"}}</h2>
                </header>

                <ul>
                    {{ range $page_index, $page_val := sort .Pages "Date" "asc"}}
                    <li><a href="{{.Permalink}}">{{.Title}}</a> {{i18n "trackchairs"}} : {{.Params.trackchairs}}</li>
                    {{end}}

                </ul>


            </section>
        </div>
    </div>


    {{ partial "footer.html" . }}


</body>
</html>
