<!DOCTYPE HTML>

<html>
{{ partial "header.html" . }}
<body>

<!-- Header Wrapper -->
<div class="wrapper style1">

    {{ partial "smallpageheader.html" . }}

    <!-- Main -->
    <div id="main" class="wrapper style4 page-session">

        <!-- Content -->
        <div id="content" class="container">
            <section class="track">
                <header class="major">
                    <h2>{{i18n "tracks"}}</h2>
                </header>

                <ul>
                    <li class="track-head">
                        <span class="track-title">Tracks</span>
                        <span class="track-chair">{{i18n "trackchairs"}}</span>
                    </li>
                    {{ range $page_index, $page_val := sort .Pages "Date" "asc"}}
                    <li class="bg-{{mod $page_index 2}}">
                        <!-- <span class="track-window">}</span> @TODO: track window -->
                        <span class="track-title"><a href="{{.Permalink}}" title="{{.Title}} - {{.Params.trackchairs}}">{{.Title}}</a></span>
                        <span class="track-chair">{{.Params.trackchairs}}</span>
                        <!-- @TODO: information of the track chair, link would be better -->
                    </li>
                    {{end}}

                </ul>


            </section>
        </div>
    </div>


    {{ partial "footer.html" . }}


</body>
</html>
