/* acasia2021.scss */
section.session {
    border-bottom: #9e2165 solid 1px;
    article {
        padding-bottom: 20px;
    }
    dl {
        padding-top: 10px;
        overflow: hidden;
        height: auto;
        border-top: #9e2165 solid 1px;
        dt {
            font-weight: normal;
            vertical-align: middle;
        }
        dt,dd {
            float: left;
            display: inline-block;
        }
        a {
            color: #9e2165;
        }
        h3 {
            font-weight: normal;
        }
    }

    .session-date {
        width: 12%;
    }
    .session-list {
        width: 85%;
        overflow: hidden;
    }

    .top-30 {
        padding-top: 30px;
    }
    .lh-2em {
        line-height: 2em;
    }
}

section.track {
    ul {
        li {
            line-height: 2.5em;
            vertical-align: middle;
        }
    }

    .track-head { 
        background-color: #9e2165; 
        height: 2em;
        line-height: 2em;
        vertical-align: middle;
        color: #ffffff;
        font-weight: bold;
        /* font-style: italic; */
        font-size: 1.5em;
    }

    .track-title {
        padding: 0 15px;
        display: inline-block; 
        min-width: 300px; 
        // font-weight: bold; 
        a {
            color: #9e2165;
        }
    }

    .bg-0 {
        // background-color: #eeeeee;
        border-bottom: #9e2165 solid 1px; 
    }

    .bg-1 {
        // background-color: #eeeeee;
        background-color: #f7edf2;
    }
}

