<!DOCTYPE HTML>

<html>
{{ partial "header.html" . }}
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">

				<div id="header">
					<div class="container">

							<h1><a href="#" id="logo">&nbsp;</a></h1>

						{{ partial "nav.html" . }}

					</div>
				</div>

				<div id="banner">
					<section class="container">
					</section>
				</div>
			</div>

			<div class="wrapper style3">
				<section class="container">
                <p><b>Coming to your living room this September!</b></p>

                <p>Join us from the comfort of your own home for three days of Apache project content across dozens of categories, from Big Data to Fintech to Search to Tomcat and more.</p>

                <p>The call for presentations is <a href="cfp.html">NOW OPEN</a>!</p>

								<p>Registration will open for the event in April!</p>

				</section>
			</div>


		{{ partial "footer.html" . }}

	</body>
</html>
