<div class="row">
    {{ range $index, $chairman := .Site.Data.chairmans }}
    {{ if gt $index 0 }}
    <div class="col-12 col-md-6 mt-4 mt-sm-0">
    {{ else }}
    <div class="col-12 col-md-6">
    {{ end }}
        <div class="d-flex">
            <img class="me-4" width="128px" height="128px" src="{{.image}}" alt="">

            <div>
                <h5>{{.name}}</h5>
                <div class="mb-1">{{.role}}</div>
                <div class="text-secondary">{{.intro}}</div>
            </div>
        </div>
    </div>
    {{ end }}

</div>