<nav id="nav" class="navbar navbar-dark navbar-expand-lg bg-transparent">
    <div class="container py-1">
        <div class="btn-wrap d-flex align-items-center">
            <button onclick="changeMenuBg()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="flex-fill d-flex align-items-center justify-content-end d-lg-none">
                <ui class="navbar-nav flex-row flex-wrap ms-md-auto">
                    {{ if .IsTranslated }}
                    {{ range .Translations }}
                    <li class="nav-item">
                        <a href="{{ .URL }}" class="nav-link">{{ i18n "translation" }}</a>
                    </li>
                    {{ end}}
                    {{ end }}
                </ui>
                <a href="#get_your_ticket" class="btn btn-warning ms-3">{{i18n "register_attend"}}</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {{ $isZh := eq .Site.Language.Lang "zh" }}
                    {{ $urlPrefix := .Site.Params.urlPrefix }}
                    {{ $hasPrefix := ne $urlPrefix "" }}
                    {{ $prefix := "" }}
                    {{ $homePrefix := "" }}
                    {{ if $hasPrefix }}
                      {{ if $isZh }}
                        {{ $prefix = printf "/%s" $urlPrefix }}
                        {{ $homePrefix = printf "/%s/" $urlPrefix }}
                      {{ else }}
                        {{ $prefix = printf "/%s/en" $urlPrefix }}
                        {{ $homePrefix = printf "/%s/en/" $urlPrefix }}
                      {{ end }}
                    {{ else if not $isZh }}
                      {{ $prefix = "/en" }}
                      {{ $homePrefix = "/en/" }}
                    {{ else }}
                      {{ $homePrefix = "/" }}
                    {{ end }}
                    {{ if eq .RelPermalink "/" }}
                        <a class="nav-link" href="{{ $homePrefix }}">
                            {{ i18n "home"}}
                        </a>
                    {{ else if eq .RelPermalink "/en/" }}
                        <a class="nav-link" href="{{ $homePrefix }}">
                            {{ i18n "home"}}
                        </a>
                    {{ else }}
                        <a class="nav-link" href="{{ $homePrefix }}">
                            {{ i18n "home"}}
                        </a>
                    {{ end }}
                </li>
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    {{ .Pre }}
                    <a href="{{.URL}}" class="nav-link">{{ .Name }}</a>
                </li>
                {{end}}
            </ul>
            <ui class="navbar-nav flex-row flex-wrap ms-md-auto">
                {{ if .IsTranslated }}
                {{ range .Translations }}
                <li class="nav-item">
                    <a href="{{ .URL }}" class="nav-link">{{ i18n "translation" }}</a>
                </li>
                {{ end}}
                {{ end }}
            </ui>
            <a href="#get_your_ticket" class="btn btn-warning ms-0 ms-sm-3">{{i18n "register_attend"}}</a>
        </div>
    </div>
</nav>
<script>
    function changeMenuBg() {
        var nav = document.getElementById("nav");
        if (nav.classList.contains("bg-transparent")) {
            nav.classList.remove("bg-transparent");
            nav.classList.add("bg-dark");
        } else {
            nav.classList.remove("bg-dark");
            nav.classList.add("bg-transparent");
        }
    }
</script>