<nav id="nav" class="navbar navbar-dark navbar-expand-lg bg-transparent">
    <div class="container py-1">
        <div class="btn-wrap d-flex align-items-center">
            <button onclick="changeMenuBg()" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="flex-fill d-flex align-items-center justify-content-end d-lg-none">
                <ui class="navbar-nav flex-row flex-wrap ms-md-auto">
                    {{ if .IsTranslated }}
                    {{ range .Translations }}
                    <li class="nav-item">
                        <a href="{{ .URL }}" class="nav-link">{{ i18n "translation" }}</a>
                    </li>
                    {{ end}}
                    {{ end }}
                </ui>
                <a href="#get_your_ticket" class="btn btn-warning ms-3">{{i18n "register_attend"}}</a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {{ $year := index (findRE "[0-9]{4}" .RelPermalink) 0 }}
                    {{ $isZh := eq .Site.Language.Lang "zh" }}
                    {{ $prefix := cond $isZh (cond (eq $year "2024") "/2024" "") (cond (eq $year "2024") "/en/2024" "") }}
                    {{ if eq .RelPermalink "/" }}
                        <a class="nav-link" href="/">
                            {{ i18n "home"}}
                        </a>
                    {{ else if eq .RelPermalink "/en/" }}
                        <a class="nav-link" href="/en">
                            {{ i18n "home"}}
                        </a>
                    {{ else }}
                        <a class="nav-link" href="{{ cond $isZh "/" "/en" }}">
                            {{ i18n "home"}}
                        </a>
                    {{ end }}
                </li>
                {{ range .Site.Menus.main }}
                <li class="nav-item">
                    {{ .Pre }}
                    <a href="{{ $prefix }}{{.URL}}" class="nav-link">{{ .Name }}</a>
                </li>
                {{end}}

                <!-- <button type="button" class="btn btn-warning ms-0 ms-lg-4">
                {{ i18n "register" }}
            </button> -->
            </ul>
            <ui class="navbar-nav flex-row flex-wrap ms-md-auto">
                {{ if .IsTranslated }}
                {{ range .Translations }}
                <li class="nav-item">
                    <a href="{{ .URL }}" class="nav-link">{{ i18n "translation" }}</a>
                </li>
                {{ end}}
                {{ end }}
            </ui>
            <a href="#get_your_ticket" class="btn btn-warning ms-0 ms-sm-3">{{i18n "register_attend"}}</a>
        </div>
    </div>
</nav>
<script>
    const isHome = "{{ .IsHome }}";
    function changeMenuBg() {
        const nav = document.getElementById('nav');
        if (isHome !== 'true') {
            return;
        }
        if (nav.classList.contains('bg-custom')) {
            nav.classList.remove('bg-custom');
            nav.classList.add('bg-transparent');
        } else {
            nav.classList.add('bg-custom');
            nav.classList.remove('bg-transparent');
        }
    }

</script>