<div class="row position-relative">
    <div class="col-6 col-lg-2 col-md-4 mb-5">
        <img src="/images/avatars/AmandaBrock.png" class="rounded-circle bg-dark" width="128px" height="128px"
            alt="avatar">
        <div>Amanda Brock</div>
        <p class="text-white-50">CEO of OpenUK</p>
    </div>
    <div class="col-6 col-lg-2 col-md-4 mb-5">
        <img src="/images/avatars/AnaJimenez.png" class="rounded-circle bg-dark" width="128px" height="128px"
            alt="avatar">
        <div>Ana Jimenez</div>
        <p class="text-white-50">Project Manager of TODO Group</p>
    </div>
    
</div>