<div class="row position-relative">
    <div class="col-6 col-lg-2 col-md-4 mb-5">
        <img src="/images/avatars/AmandaBrock.png" class="rounded-circle mb-2" width="128px" height="128px"
            alt="avatar">
        <h5 class="mb-1">Amanda Brock</h5>
        <p class="text-white-50">CEO of OpenUK</p>
    </div>
    <div class="col-6 col-lg-2 col-md-4 mb-5">
        <img src="/images/avatars/AnaJimenez.png" class="rounded-circle mb-2" width="128px" height="128px"
            alt="avatar">
        <h5 class="mb-1">Ana Jimenez</h5>
        <p class="text-white-50">Project Manager of TODO Group</p>
    </div>
    
</div>