<div class="d-flex flex-column align-items-center">
    <h5>{{ i18n "sponsorship_strategy"}}</h5>
    <div class="sponsor-logos text-center">
        <img src="images/logo/logo-chancefoundation.png" alt="sponsor" style="height: 90px;">
    </div>

    <h5 class="mt-5">{{ i18n "sponsorship_platinum"}}</h5>
    <div class="sponsor-logos text-center">
        <img src="images/logo/zte.png" alt="sponsor" style="height: 90px;">
        <img src="images/logo/HUAWEI.png" alt="sponsor" style="height: 90px;">
        <img src="images/logo/logo-vivo.png" alt="sponsor" style="height: 90px;">
    </div>
    <h5 class="mt-5">{{ i18n "sponsorship_gold"}}</h5>
    <div class="sponsor-logos text-center">
        <img src="images/logo/Ant.png" alt="sponsor" style="height: 90px;">
        <img src="images/logo/logo-byteos@2x.png" alt="sponsor" style="height: 90px;">
    </div>
    <h5 class="mt-5">{{ i18n "sponsorship_toolbox"}}</h5>
    <div class="sponsor-logos text-center">
        <img src="images/logo/logo-scanoss@2x.png" alt="sponsor" style="height: 90px;">
        <img src="images/logo/logo-sectrend@2x.png" alt="sponsor" style="height: 90px;">

    </div>
    <h5 class="mt-5">{{ i18n "sponsorship_swag"}}</h5>
    <div class="sponsor-logos text-center">
        <img src="images/logo/logo-redhat@2x.png" alt="sponsor" style="height: 90px;">
    </div>
    <h5 class="mt-5">{{ i18n "sponsorship_strategic_community"}}</h5>
    <div class="sponsor-logos text-center">
        <img src="images/logo/sf.png" alt="sponsor" style="height: 90px;">
    </div>
</div>