<div class="row position-relative">
    {{ range $index, $staff := .Site.Data.staff }}
    <div class="col-6 col-lg-2 col-md-4 mb-5" data-bs-toggle="modal" data-bs-target="#staff-{{$index}}">
        <div class="text-center" style="cursor: pointer;">
            <img src="{{ .image }}" class="rounded-circle mb-2" width="128px" height="128px" alt="avatar">
            <h5 class="mb-1 staff-name">{{ .name }}</h5>
            <p class="staff-role">{{ .role }}</p>
        </div>

    </div>
    <div class="modal fade" id="staff-{{$index}}" tabindex="-1" aria-labelledby="staff" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staff">{{i18n "modal_staff"}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-body">
                    <div class="text-center mb-3">
                        <img src="{{ .image }}" class="rounded-circle mb-2" width="128px" height="128px" alt="avatar">
                        <h5 class="mb-1">{{ .name }}</h5>
                        <p class="text-secondary">{{ .role }}</p>
                    </div>
                    {{range .intro}}
                    {{. | safeHTML}}
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    {{ end }}
</div>
