<div class="d-flex flex-column align-items-center">
    <h5 class="d-none">{{ i18n "strategic_support"}}</h5>
    <div>

    </div>


    <h5 class="mt-5 d-none">{{ i18n "support_org"}}</h5>
    <div>
        <img src="/images/logo/lfapac.jpeg" alt="support"  style="height: 90px;">
        <img src="/images/logo/openatom.png" alt="support"  style="height: 90px;">
        <img src="/images/logo/alc-beijing.png" alt="support"  style="height: 90px;">
        <img src="/images/logo/todo-group.png" alt="support"  style="height: 90px;">
        <img src="/images/logo/trust-os.jpeg" alt="support"  style="height: 90px;">
        <img src="/images/logo/the-fourth-standard.png" alt="support"  style="height: 90px;">
        <img src="/images/logo/mulan.jpeg" alt="support"  style="height: 90px;">
        <img src="/images/logo/openchain.png" alt="support"  style="height: 90px;">
        <img src="/images/logo/oif.png" alt="support"  style="height: 90px;">
        <img src="/images/logo/chaoss.png" alt="support"  style="height: 90px;">
        <img src="/images/logo/kaiyuanshe.png" alt="support"  style="height: 90px;">
        <img src="/images/logo/answer.png" alt="support"  style="height: 90px;">
    </div>
    <div>

    </div>
</div>
