<div class="d-flex flex-column align-items-center">
    <h5 class="d-none">{{ i18n "strategic_support"}}</h5>
    <div>

    </div>


    <h5 class="mt-5 d-none">{{ i18n "support_org"}}</h5>
    <div class="support-logos text-center">
        <img src="images/logo/logo-linux@2x.png" alt="support" style="height: 60px;">
        <img src="images/logo/logo-openatom@2x.png" alt="support" style="height: 60px;">
        <img src="images/logo/logo-alc@2x.png" alt="support" style="height: 60px;">
        <img src="images/logo/logo-todo@2x.png" alt="support" style="height: 60px;">
        <img src="images/logo/logo-kexin@2x.png" alt="support" style="height: 60px;">
        <img src="images/logo/logo-answer@2x.png" alt="support" style="height: 60px;">
        <img src="images/logo/logo-cesi@2x.png" alt="support" style="height: 60px;">
        <img src="images/logo/logo-openchain@2x.png" alt="support" style="height: 60px;">
        <img src="images/logo/logo-mulan@2x.png" alt="support" style="height: 60px;">
        <img src="images/logo/logo-openinfra@2x.png" alt="support" style="height: 60px;">
        <img src="images/logo/logo-chaoss@2x.png" alt="support" style="height: 60px;">

        <img src="images/logo/logo-kaiyuanshe@2x.png" alt="support" style="height: 60px;">
        <img src="images/logo/logo-evangelist@2x.png" alt="support" style="height: 60px;">
        <img src="images/logo/logo-lfossa@2x.png" alt="support" style="height: 60px;">

        <img src="images/logo/logo-chance@2x.png" alt="support" style="height: 60px;">



    </div>

    <div>

    </div>
</div>