<div class="d-flex flex-column align-items-center">
    <h5 class="d-none">{{ i18n "strategic_support"}}</h5>
    <div>

    </div>


    <h5 class="mt-5 d-none">{{ i18n "support_org"}}</h5>
    <div class="support-logos text-center d-none d-sm-block">
        <img src="/images/logo/lfapac.jpeg" alt="support" style="height: 90px;">
        <img src="/images/logo/openatom.png" alt="support" style="height: 90px;">
        <img src="/images/logo/alc-beijing.png" alt="support" style="height: 90px;">
        <br />
        <img src="/images/logo/todo-group.png" alt="support" style="height: 90px;">
        <img src="/images/logo/trust-os.jpg" alt="support" style="height: 90px;">
        <img src="/images/logo/answer.png" alt="support" style="height: 90px;">
        <br />
        <img class="p-0 object-fit-contain" src="/images/logo/the-fourth-standard.png" alt="support" style="height: 90px;max-width: 100%">
        <br />
        <img class="object-fit-contain" src="/images/logo/openchain.png" alt="support" style="height: 90px; max-width: 100%">

        <img class="p-0" src="/images/logo/mulan.png" alt="support" style="height: 90px;">
        <img src="/images/logo/oif.svg" alt="support" style="height: 90px;">
        <img src="/images/logo/chaoss.png" alt="support" style="height: 90px;">
        <img src="/images/logo/kaiyuanshe.png" alt="support" style="height: 90px;">
    </div>
    <div class="support-logos text-center d-block d-sm-none">
        <img src="/images/logo/lfapac.jpeg" alt="support" style="height: 90px;">
        <img src="/images/logo/openatom.png" alt="support" style="height: 90px;">
        <img src="/images/logo/alc-beijing.png" alt="support" style="height: 90px;">
        <br />
        <img src="/images/logo/todo-group.png" alt="support" style="height: 90px;">
        <img src="/images/logo/trust-os.jpg" alt="support" style="height: 90px;">
        <img src="/images/logo/answer.png" alt="support" style="height: 90px;">
        <br />
        <img class="p-0" src="/images/logo/the-fourth-standard.png" alt="support" style="height: 40px;">
        <br />
        <img class="p-0" src="/images/logo/openchain.png" alt="support" style="height: 40px;">

        <img class="p-0" src="/images/logo/mulan.png" alt="support" style="height: 90px;">
        <img src="/images/logo/oif.svg" alt="support" style="height: 90px;">
        <img src="/images/logo/chaoss.png" alt="support" style="height: 90px;">
        <img src="/images/logo/kaiyuanshe.png" alt="support" style="height: 90px;">
    </div>
    <div>

    </div>
</div>