<!DOCTYPE HTML>

<html>
{{ partial "header.html" . }}

<body>
	<style>
		.speaker-name {
			color: #212529 !important;
		}

		.speaker-role {
			color: #6c757d !important;
		}
	</style>
	<!-- Header Wrapper -->
	<div class="wrapper style1">
		<!-- Header -->
		<div class="sub-banner position-relative d-flex flex-column">
			{{ partial "nav.html" . }}
			<div class="flex-fill d-flex justify-content-center align-items-center">
				<h1 style="font-size: 40px;">{{.Title}}</h1>
			</div>
		</div>


		<!-- Main -->
		<div id="main" class="wrapper style4 page ">

			<!-- Content -->
			<div id="content" class="container">
				<section>
					<h2 class="text-center mb-5">{{ i18n "speakers"}}</h2>

					<div class="row ">

						{{ partial "speakers.html" . }}

					</div>

				</section>



			</div>

			<div id="arrange" class="pt-5 bg-white">
				<h2 class="text-center">大会日程</h2>
				<div class="content rounded container">
					<h4 class="py-5 text-center">3 月 28 日</h4>
					<div class="row">
						<div class="position-relative col">
							<table class="table table-borderless">
								<thead>
									<tr class="title noborder">
										<td width="30%">论坛</td>
										<td width="20%">时间</td>

										<td>议题名称</td>
									</tr>
								</thead>
								<tbody>
									<tr>

										<td rowspan="10">
											开源之【道】Keynote
										</td>
										<td rowspan="10">09:00-12:30
										</td>
										<td><span>Welcome Note</span>
											<div class="author"><span>边思康</span><span>联合主席</span></div>
											<div class="author"><span>刘洁</span><span>联合主席</span></div>
										</td>
									</tr>
									<tr>
										<td><span>OSPO and Securing Supply Chain: Two Sides of the Same Coin</span>
											<div class="author"><span>Ana Jimenez Santamaria</span><span>TODO
													Group</span></div>
										</td>
									</tr>
									<tr>
										<td><span>The Principle of Open Source Foundation and Why it is Matters to
												OSPO</span>
											<div class="author"><span>Keith Chan</span><span>Linux Foundation
													APAC</span></div>
										</td>
									</tr>
									<tr>
										<td><span>OSPO与基金会：如何实现协作共赢？</span>
											<div class="author"><span>庄表伟</span><span>天工开物基金会</span></div>
										</td>
									</tr>
									<tr>
										<td><span>用开源来增强可持续竞争优势</span>
											<div class="author"><span>谭中意</span><span>COPU 开源软件推进联盟</span>
											</div>
										</td>
									</tr>

									<tr>
										<td>
											<span>跨越鸿沟：创建OSPO 需要征服的难题</span>
											<div class="author"><span>李建盛</span><span>开源之道</span></div>
										</td>
									</tr>
									<tr>
										<td>
											<span>中小企业建立开源办公室的困难和建议</span>
											<div class="author"><span>邹良城</span><span>广东良马律师事务所</span></div>
										</td>
									</tr>
									<tr>
										<td>
											<span>OSPO 创新之道：开源治理系列标准引领下的 OSPO 工具箱革新与实践案例</span>
											<div class="author"><span>王伟</span><span>华东师范大学</span></div>
										</td>
									</tr>
									<tr>
										<td>
											<span>企业开源AI大模型管理规范初探</span>
											<div class="author"><span>李响</span><span>中兴通讯</span></div>
										</td>
									</tr>

									<tr>
										<td>
											<span>
												圆桌：OSPO，释放开源价值的助推器？
											</span>
											<div class="author">
												<span>任旭东</span>
												<span>华为</span>
											</div>
											<div class="author">
												<span>边思康</span>
												<span>蚂蚁集团</span>
											</div>
											<div class="author">
												<span>姜宁</span>
												<span>字节跳动</span>
											</div>
											<div class="author">
												<span>王晶昱</span>
												<span>阿里巴巴</span>
											</div>
										</td>
									</tr>
									<tr>
										<td></td>
										<td>12:20-13:30</td>
										<td>午间休息</td>
									</tr>

									<tr>
										<td rowspan="5">开源之【法】主题 Panel + 研讨 </td>
										<td>14:00 - 15:20</td>
										<td><span>【价值】 OSPO 真的能释放开源价值吗？
												有没有更高效的方法吗？</span>
											<div class="author"><span>胡捷</span><span>中兴通讯</span></div>
											<div class="author"><span>孙振华</span><span>字节跳动</span></div>
											<div class="author"><span>Ana Jimenez Santamaria</span><span>TODO
													Group</span></div>
											<div class="author"><span>郁志强</span><span>中国移动</span></div>
											<div class="author"><span>骆晨</span><span>红帽中国</span></div>
									</tr>


									<tr>
										<td>15:20 - 16:10 </td>
										<td>
											<span>
												【职能】OSPO的职责往往从合规开始，但OSPO 需要运营吗？需要布道师吗？到底是 marketing/社区经理还是？
											</span>
											<div class="author">
												<span>王蓉 Amber</span>
												<span>阿里巴巴</span>
											</div>
											<div class="author">
												<span>姜宁</span>
												<span>字节跳动</span>
											</div>
											<div class="author">
												<span>杨振涛</span>
												<span>vivo</span>
											</div>
											<div class="author">
												<span>古思为</span>
												<span>NebulaGraph</span>
											</div>

											<div class="author">
												<span>赵振华</span>
												<span>启锐信息</span>
											</div>
											<div class="author">
												<span>李明康</span>
												<span>小明</span>
											</div>
										</td>
									</tr>
									<tr>

										<td>16:10 - 16:20</td>
										<td>茶歇</td>
									</tr>

									<tr>
										<td>16:20 - 17:10</td>
										<td>
											<span>
												【生态】OSPO在开源生态构建中的角色
											</span>
											<div class="author">
												<span>郭旭东</span>
												<span>开放原子开源基金会</span>
											</div>
											<div class="author">
												<span>孟伟</span>
												<span>中兴通讯</span>
											</div>
											<div class="author">
												<span>王峰</span>
												<span>安势</span>
											</div>
											<div class="author">
												<span>花肉</span>
												<span>蚂蚁集团</span>
											</div>
											<div class="author">
												<span>林旅强</span>
												<span></span>
											</div>
										</td>
									</tr>

									<tr>
										<td>17:10 - 18:00</td>
										<td>
											<span>
												【实践】OSPO在企业开源治理中的实践
											</span>
											<div class="author">
												<span>杨轩</span>
												<span>Linux Foundation APAC</span>
											</div>
											<div class="author">
												<span>项曙明</span>
												<span>中兴通讯</span>
											</div>
											<div class="author">
												<span>庄表伟</span>
												<span>天工开物基金会</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
										<td>晚上</td>
										<td>
											<span>
												轻晚宴 + 开放麦 + OSPOer 交流
											</span>
											<div class="author">
												<span>ZoomQuiet 大妈</span>
												<span>Linux Foundation APAC 开源布道者</span>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="content rounded container">
					<h4 class="py-5 text-center">3 月 29 日</h4>
					<div class="row">
						<div class="position-relative col">
							<table class="table table-borderless">
								<thead>
									<tr class="title noborder">
										<td width="30%">论坛</td>
										<td width="20%">时间</td>

										<td>议题名称</td>
									</tr>
								</thead>
								<tbody>
									<tr>

										<td rowspan="4">
											开源之【术】主题分组研讨 （2+2：分上下两场，每场并行两个分组研讨）
										</td>
										<td rowspan="4">09:30-11:30
										</td>
										<td>
											<span>Topic 1：怎么样向 leader 讲清楚 OSPO 的价值？</span>
											<div class="author">
												<span>梁宇畅</span>
												<span>北京大学</span>
											</div>
											<div class="author">
												<span>姜宁</span>
												<span>字节跳动</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<span>Topic 2：项目组和 OSPO 如何建立信任和有效协同？</span>
											<div class="author">
												<span>姜宁</span>
												<span>字节跳动</span>
											</div>
											<div class="author">
												<span>边思康</span>
												<span>蚂蚁集团</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<span>Topic 3：OSPO 工作的「术」可以被标准化 / SOP 化吗？</span>
											<div class="author">
												<span>夏小雅</span>
												<span>华东师范大学</span>
											</div>
											<div class="author">
												<span>丛容</span>
												<span>蚂蚁集团</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<span>Topic 4：Make Meetup Great Again：开源活动到底该怎么搞才更有效？</span>
											<div class="author">
												<span>花肉</span>
												<span>蚂蚁集团</span>
											</div>
											<div class="author">
												<span>马乐</span>
												<span>字节跳动</span>
											</div>
										</td>
									</tr>

									<tr>
										<td rowspan="3">【Office Hour】深入交流/咨询/答疑 + 工作午餐 </td>
										<td rowspan="3">11:30-13:30</td>
										<td>
											<span>Office Hour：OSPO践行者交流专场</span>
											<div class="author">
												<span>边思康</span>
												<span>蚂蚁集团</span>
											</div>
											<div class="author">
												<span>杨振涛</span>
												<span>vivo</span>
											</div>
											<div class="author">
												<span>刘洁</span>
												<span>华为</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<span>Office Hour：工具与基础设施交流专场</span>
											<div class="author">
												<span>王晔晖</span>
												<span>OSS Compass社区</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<span>Office Hour：开源法务合规交流专场</span>
											<div class="author">
												<span>孙振华</span>
												<span>字节跳动</span>
											</div>
											<div class="author">
												<span>沈芬</span>
												<span>华为</span>
											</div>
											<div class="author">
												<span>王荷舒</span>
												<span>开放原子开源基金会</span>
											</div>
											<div class="author">
												<span>赵云虎</span>
												<span>律师</span>
											</div>
											<div class="author">
												<span>陶冶</span>
												<span>律师</span>
											</div>
										</td>
									</tr>

									<tr>
										<td rowspan="3">开源之【器】平行主题分组研讨（ 深度圆桌研讨活动）</td>
										<td rowspan="3">14:00-17:00</td>
										<td>
											<span>Table 1: 开源治理、合规与安全相关工具：知识产权管理， SCA，开源许可合规，安全</span>
											<div class="author">
												<span>朱贤曼</span>
												<span>安势</span>
											</div>
											<div class="author">
												<span>刘金刚</span>
												<span>华为</span>
											</div>
											<div class="author">
												<span>Julian Coccia</span>
												<span>SCANOSS</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<span>Table 2: 开源项目基础设施相关工具：开源脚手架（Website Template，
												文档系统，项目出海基本配置），交流渠道，项目邮件列表，Community
												建设等）</span>
											<div class="author">
												<span>王殿进</span>
												<span>HashData</span>
											</div>
											<div class="author">
												<span>姜宁</span>
												<span>字节跳动</span>
											</div>
											<div class="author">
												<span>董锋</span>
												<span>Apache Answer + SegmentFault</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<span>Table 3: 开源项目运营及增长相关工具：社区健康度量工具，开发者关系维护</span>
											<div class="author">
												<span>王晔晖</span>
												<span>华为</span>
											</div>
											<div class="author">
												<span>边思康</span>
												<span>蚂蚁集团</span>
											</div>
											<div class="author">
												<span>温铭</span>
												<span>APISIX</span>
											</div>
											<div class="author">
												<span>王伟</span>
												<span>华东师范大学</span>
											</div>
										</td>
									</tr>
									<tr>
										<td>Amanda's Book 书籍中文版品读会 </td>
										<td>15:00 - 17:00</td>
										<td>
											<div class="author">
												<span>Amanda Brock</span>
												<span>OpenUK，图书主编</span>
											</div>
											<div class="author">
												<span>陈冀康</span>
												<span>人民邮电出版社科技出版中心</span>
											</div>
											<div class="author">
												<span>杨丽蕴</span>
												<span>木兰社区</span>
											</div>
											<div class="author">
												<span>李智琪</span>
												<span>木兰社区</span>
											</div>
											<div class="author">
												<span>振华</span>
												<span>字节跳动</span>
											</div>
											<div class="author">
												<span>适兕</span>
												<span>开源之道</span>
											</div>
											<div class="author">
												<span>王荷舒</span>
												<span>开放原子开源基金会</span>
											</div>
											<div class="author">
												<span>赵云虎</span>
												<span>律师</span>
											</div>
											<div class="author">
												<span>陶冶</span>
												<span>律师</span>
											</div>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>


		{{ partial "footer.html" . }}
</body>

</html>