<!---
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<div id="footer">
  <section class="container">
    <header class="major">
      <h2>Connect with us</h2>

    </header>
    <table><tr><td><a href="https://www.facebook.com/ApacheSoftwareFoundation/">
        <img width="66" src="images/iconmonstr-facebook-6-96.png"></a></td><td>
        <a href="https://twitter.com/ApacheCon"><img width="66" src="images/iconmonstr-twitter-1-96.png"></td><td><a href="http://s.apache.org/apachecon-slack"><img width="66" src="images/slack-icon.png"></tD></tr></table>				<hr /><p>ApacheCon operates under the terms of the <a href="https://www.apache.org/foundation/policies/conduct.html">Apache Software Foundation Code of Conduct</a>. </p>
    <hr />
    <p class="byline">Copyright 2022, <a href="https://www.apache.org/">The Apache Software Foundation</a>, Licensed under the Apache License, Version 2.0. <br />Apache and the Apache feather logo are trademarks of The Apache Software Foundation.</div>
    </section>
</div>
</div>
