<div class="d-flex flex-column align-items-center">
    <h5 class="d-none">{{ i18n "strategic_sponsor"}}</h5>
    <div>

    </div>

    <h5>{{ i18n "platinum_sponsor"}}</h5>
    <div>
        <img src="/images/logo/zte.png" alt="sponsor"  style="height: 90px;">
    </div>

    <h5 class="mt-5">{{ i18n "gold_sponsor"}}</h5>
    <div>
        <img src="/images/logo/Ant.png" alt="sponsor"  style="height: 90px;">
    </div>

    <h5 class="mt-5">{{ i18n "strategic_community_partner"}}</h5>
    <div>
        <img src="/images/logo/sf.png" alt="sponsor"  style="height: 90px;">
    </div>

    <h5 class="mt-5 d-none">{{ i18n "community_partner"}}</h5>
    <div>

    </div>
</div>