<section class="sponsorship">
    <dl>
        <dt>{{ i18n "sponsorship_platinum" }}</dt>
        <dd class="platinum">
            <img src="images/logo/AliCloud.png" alt="AliCloud" width="250"/>
        </dd>
        <dd class="platinum">
            <img src="images/logo/bytedance.jpeg" alt="ByteDance" width="250"/>
        </dd>
        <!--dd class="platinum">
            <img src="images/logo/HUAWEI.png" alt="Huawei" width="250"/>
        </dd-->
        <dd class="platinum">
            <img  src="images/logo/SELECTDB.jpg" alt="SELECTDB" width="250"/>
        </dd>
        <dd class="platinum">
            <img  src="images/logo/weopen.png" alt="WeBank" width="250"/>
            <!--img  src="images/logo/ChinaMobile.png" alt="ChinaMobile" /-->
        </dd>
    </dl>
    <dl>
        <dt>{{ i18n "sponsorship_gold" }}</dt>
        <dd>
          <img src="images/logo/AWS.png" alt="AWS" width="150"/>
          <img  src="images/logo/Ant.png" alt="BaiDu" width="150" />
          <img  src="images/logo/netease.png" alt="NetEase" width="150"/>
          <img  src="images/logo/openbayes.jpg" alt="OpenBayes" width="150"/>
          <img  src="images/logo/sphereex.png" alt="SphereEx" width="150"/>
        </dd>

    </dl>
    <dl>
        <dt>{{ i18n "sponsorship_silver" }}</dt>
        <dd>
          <img  src="images/logo/BAIDU.png" alt="BaiDu" width="120" />
        </dd>
    </dl>
    <!--dl>
        <dt>{{ i18n "sponsorship_bronze" }}</dt>
        <dd>
          <img src="images/logo/API7.png" alt="API7"/>
        </dd>
    </dl-->
    <!--dl>
        <dt>{{ i18n "sponsorship_media" }}</dt>
        <dd><img src="images/logo/SEGMENTFAULT.png" alt="" /></dd>
    </dl-->
</section>
<style>
    .sponsorship dl dd img {
        vertical-align: middle;
    }
</style>
