
<section class="sponsorship">
    <dl>
        <dt>{{ i18n "sponsorship_strategy" }}</dt>
        <dd><img class="huawei" src="images/logo/alc_huawei_2x.png"  alt="Huawei" /></dd>
    </dl>
    <dl>
        <dt>{{ i18n "sponsorship_platinum" }}</dt>
        <dd class="platinum">
            <img class="alicloud" src="images/logo/alc_ali.png" alt="AlibabaCloud" />
            <img class="api7" src="images/logo/alc_api7.png" alt="Api7" />
            <img class="didi" src="images/logo/alc_didi.png" alt="Didi" />
            <img class="kyligence" src="images/logo/alc_kyligence.png" alt="KYLIGENCE" />
            <img class="tencentcloud" src="images/logo/alc_tencent.png" alt="TencentCloud" />
        </dd>
    </dl>
    <dl>
        <dt>{{ i18n "sponsorship_gold" }}</dt>
        <dd><img class="baidu" src="images/logo/alc_baidu.png" alt="Baidu" /></dd>
    </dl>
    <dl>
        <dt>{{ i18n "sponsorship_media" }}</dt>
        <dd><img class="segmentfault" src="images/logo/alc_sg_2x.png" alt="Segmentfault" /></dd>
    </dl>
</section>
