<section class="sponsorship">
    <dl>
        <dt>{{ i18n "sponsorship_strategy" }}</dt>
        <dd><img class="huawei" src="images/logo/HUAWEI.png" alt="Huawei" /></dd>
    </dl>
    <dl>
        <dt>{{ i18n "sponsorship_platinum" }}</dt>
        <dd class="platinum">
            <img  src="images/logo/SELECTDB.jpg" alt="SELECTDB" />
            <img  src="images/logo/BAIDU.png" alt="BaiDu" />
        </dd>
    </dl>
    <dl>
        <dt>{{ i18n "sponsorship_gold" }}</dt>
        <dd>
          <img src="images/logo/TIMECHO.png" alt="TIMECHO"/>
          <img src="images/logo/AWS.png" alt="AWS" />
        </dd>

    </dl>
    <dl>
        <dt>{{ i18n "sponsorship_silver" }}</dt>
        <dd>
          <img src="images/logo/API7.png" alt="API7"/>
        </dd>
    </dl>
    <dl>
        <dt>{{ i18n "sponsorship_media" }}</dt>
        <dd><img src="images/logo/SEGMENTFAULT.png" alt="Segmentfault" /></dd>
    </dl>
</section>
<style>
    .sponsorship dl dd img {
        vertical-align: middle;
    }
</style>
